html{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:bisque;
}

body{
  display:flex;
  max-width: 50rem;
  margin: 0 auto;
}

app-root{
  width: 100%;
}
